<div class="app-container">
  <app-nabvar></app-nabvar>

  <main class="content-area">
    <div class="container-fluid py-4 px-3 px-md-5">
      <h5 class="fw-bold mb-5 azul-marino text-uppercase">Control de Gastos Personal</h5>

          <!-- Total gastos y conversiones ($ > GTQ)-->
      <div class="row gx-lg-5">
        <div class="col-12 col-xl-5 mb-5">
          <div class="card card-custom p-4 p-md-5 mb-5 bg-white position-relative overflow-hidden shadow-sm border-0">
            <div class="decor-circle"></div>
            <p class="text-muted fw-bold mb-2 small">TOTAL GASTADO MENSUAL</p>
            <h1 class="display-4 fw-bold mb-4 azul-marino">Q1,450</h1>
            
            <div class="row g-3 position-relative">
              <div class="col-6">
                <div class="bg-light-gray p-3 rounded-4">
                  <small class="text-muted d-block mb-1 fw-semibold" style="font-size: 10px;">CONVERSION USD</small>
                  <span class="fw-bold">$15.00</span>
                </div>
              </div>
              <div class="col-6">
                <div class="bg-light-gray p-3 rounded-4">
                  <small class="text-muted d-block mb-1 fw-semibold" style="font-size: 10px;">CONVERSION GT</small>
                  <span class="fw-bold">Q 115</span>
                </div>
              </div>
            </div>
          </div>

              <!-- Nuevos Registros -->
          <div class="card card-custom p-4 p-md-5 bg-white shadow-sm border-0">
            <h4 class="fw-bold mb-4 azul-marino">Nuevo Registro</h4>
            <div class="mb-4">
              <label class="form-label small fw-bold text-muted">DESCRIPCIÓN</label>
              <input type="text" class="form-control-custom" placeholder="Ej: Supermercado La Torre">
            </div>
            <div class="row mb-5">
              <div class="col-6">
                <label class="form-label small fw-bold text-muted">MONTO</label>
                <input type="text" class="form-control-custom" placeholder="0.00">
              </div>
              <div class="col-6">
                <label class="form-label small fw-bold text-muted">CATEGORÍA</label>
                <select class="form-select-custom w-100">
                  <option>Alimentación</option>
                  <option>Servicios</option>
                </select>
              </div>
            </div>
            <button class="btn btn-primary-custom w-100 p-3">Confirmar Gasto</button>
          </div>
        </div>

            <!-- Historial de Gastos -->
        <div class="col-12 col-xl-7">
          <div class="d-flex justify-content-between align-items-center mb-4">
            <h3 class="fw-bold m-0 azul-marino">Historial de Gastos</h3>
            <a href="#" class="text-decoration-none fw-bold azul-marino small">VER TODO →</a>
          </div>

          <div class="card item-historial mb-3 p-3 shadow-sm border-0">
            <div class="row align-items-center">
              <div class="col-8 d-flex align-items-center">
                <div class="icon-container me-3 flex-shrink-0"><i class="bi bi-cart"></i></div>
                <div class="text-truncate">
                  <h6 class="mb-0 fw-bold azul-marino text-truncate">Supermercado La Torre</h6>
                  <small class="text-muted">14 Oct, 2023 • Alimentación</small>
                </div>
              </div>
              <div class="col-4 text-end">
                <span class="fw-bold text-danger d-block">Q450,00</span>
                <span class="badge-custom bg-success-light text-success">DEBITADO</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>